.container {
    /* display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: lightblue; */
}


/* .products{
    display: flex;
    padding-top: 20px;
    float:inline-end;
    
    
}

.product{
    padding: 10px;
}

.categories{
    display: flex;
    padding: 10px;
    justify-content: space-between;
} */