.info{
    position: absolute;
    width: 875px;
    height: 36px;
    
    font-family: 'Basic';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */
    
    color: #000000;

}

.heading{
    position: absolute;
width: 266px;
height: 106px;

font-family: 'Grenze';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 150%;
/* or 96px */

color: #000000;
}

.image{
   
    height: 680.0178833007812px;
    width: 105%;
    left: 850px;
    top: 133.98208618164062px;
    border-radius: [object Object]px;
    


}

.background{
  
}



