.empty-basket-Padder {
    padding-bottom: 500px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    color: white;
    background-color: #3b3b3a;
    font-size:25px;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size:45px;
    font-weight: bold;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.cart-items {
    flex-grow: 1;
    margin-right: 20px;
}

.cart-items h2 {
    margin-top: 0;
}

.cart-items ul {
    list-style: none;
    padding: 0;
}

.cart-items li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.cart-items li img {
    margin-right: 20px;
}

.cart-items li input {
    margin-left: 20px;
}

.cart-items li button {
    margin-left: 20px;
    
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.total {
    flex-basis: 25%;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: right;
    font-size: 15px;
    font-weight: 600;

}

.total h2 {
    margin-top: 0;
}

.total p {
    margin: 10px 0;
}

.total button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.right-bar {
	flex: 25%;
	padding: 20px;
	border-radius: 5px;
    font-size: 15px;
    font-weight: 600;

}
.right-bar hr {
	margin-bottom: 25px;
}
.right-bar p {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	font-size: 20px;
}
.right-bar a {

	color: #fff;
	text-decoration: none;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-weight: 900;
}
.right-bar i {
	margin-right: 15px;
}
.right-bar a:hover {
	background-color: #3972a7;
}
.column-labels {
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px;
      text-indent: -9999px;
    }
    
.table {
        border: 1px solid #ddd;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2%;
        width: 80%;
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    table thead {
        background-color: black;
        color: #fff;
    }
    
    table td,
    table th {
        padding: 12px;
        border: 2px solid #ddd;
    }
    
    table tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    
    table td:last-child,
    table th:last-child {
        border-right: none;
    }
    
    
    .container {
        width: 100%;
        padding-top: 2.5%;
    }
    

    .button-update{
        color: #fff;
        border: none;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 4px;
        cursor: pointer;
        transition: 0.5s;
        transition-property: box-shadow;

    }

    .empty{
        font-size: 40px;
        color:red;
    }

    .button-clear{
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: box-shadow;
    }

    .items{
    font-size: 15px;
    font-weight: 600;
    }