html {
    height: 100%;
}

.contactus-container {
    padding-bottom: 10rem;
    padding-top: 10rem;
    /* margin-bottom: 10rem; */
    /* 100% height */
}

.contactus-area {
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
}

.contactus-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contactus-form {
    display: flex;
    flex-direction: column;
    border-radius: 5px 5px 5px 5px;
    padding-top: 10px;
    width: 100%;
}

#contactus-name,
#contactus-email,
#contactus-subject {
    padding-top: 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 10px;
    width: 98%;
    height: 30px;
    font-size: 2rem;
    padding-left: 10px;
}

#contactus-message {
    padding-top: 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 10px;
    width: 98%;
    height: 100px;
    font-size: 2rem;
    padding-left: 10px;
}

#contactus-btn {
    border-radius: 5px 5px 5px 5px;
    width: 98%;
    height: 40px;
    margin: 10px;
    background-color: #ada239;
    color: white;
}

#contactus-btn:hover {
    background-color: #25459b;
}

#form-header {
    padding-bottom: 10px;
}

#form-text {
    font-size: 10px;
}

.contactus-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.contactus-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.padding {
    padding-top: 20%;
}

.contactus-right {
    width: 50%;
    height: 100%;
    display: flex;
    padding-top: 2.5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.contactus-right h3,
h4,
p {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
}

.body {
    min-height: 80vh;
}


/* if the width is less than 1600px */

@media screen and (max-width: 1600px) {
    .contactus-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 5%;
        padding-bottom: 10%;
    }
    .contactus-left {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contactus-right {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .body {
        min-height: 10vh;
    }
    .padding {
        padding-top: 0%;
    }
}