.body {
    min-height: 75vh;
}

.contactus-container {
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.contactus-area {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    vertical-align: middle;
}

.contactus-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contactus-form {
    display: flex;
    flex-direction: column;
    border-radius: 5px 5px 5px 5px;
    padding-top: 10px;
}

#contactus-name,
#contactus-email,
#contactus-subject {
    padding-top: 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 10px;
    width: 600px;
    height: 30px;
    font-size: 2rem;
    padding-left: 10px;
}

#contactus-message {
    padding-top: 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 10px;
    width: 600px;
    height: 100px;
    font-size: 2rem;
    padding-left: 10px;
}

#contactus-btn {
    border-radius: 5px 5px 5px 5px;
    width: 600px;
    height: 40px;
    margin: 10px;
    background-color: #ada239;
    color: white;
}

#contactus-btn:hover {
    background-color: #25459b;
}

#form-header {
    padding-bottom: 10px;
}

#form-text {
    font-size: 10px;
}

.contactus-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.contactus-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactus-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* if the width is less than 1600px */

@media screen and (max-width: 1600px) {
    .contactus-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 5%;
        padding-bottom: 10%;
    }
    .contactus-left {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contactus-right {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .body {
        min-height: 10vh;
    }
}