/* CSS for Login Page */

/* Set background color */
body {
    background-color: #f2f2f2;
    color: #0022BA;
    text-align: center;
    align-content: center;
  }
  
  /* Set font styles */
  label, input, button {
    font-family: Arial, sans-serif;
    
  }
  
  .image-container {
    display: flex;
    justify-content: center;
   
  }
  /* Set form styles */
  .login-form {
    width: 30%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ddd;
  }
  
  /* Set input styles */
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
   border-color: #4F4CEE;
   
   
  }
  
  /* Set button styles */
  button[type="submit"] {
   /* Frame 1373 */

box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px;
border-radius: 4px;
width: 100%;
border: none;

/* White */

background: #FFFFFF;
/* Brand/Primary/Default */

border: 1.5px solid #4F4CEE;
/* Card/Hover */

box-shadow: 6px 8px 0px #0022BA;

/*setting the font*/
/* Login to view your account! */

/* Brand/Primary/Default */

color: #4F4CEE;
font-family: 'Abel';

  }
  
  button[type="submit"]:hover {
    background-color: #b2c2b3;
  }
  
  /* Set error message styles */
  .error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }

label .email {
    /* Email: */
   


position: absolute;
width: 242px;
height: 46px;
left: 429px;
top: 691px;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 82px;
display: flex;
align-items: center;

/* Brand/Primary/Default */

color: #4F4CEE;

}

.description {
    font-size: 16px; /* Change the font size to 16 pixels */
    color: black; /* Change the text color to black */
  }
  
  .description p {
    font-size: 12px; /* Change the font size to 16 pixels */
    color: black; /* Change the text color to black */
    text-align: center;
  }

  .description2{
    font-size: 16px; /* Change the font size to 16 pixels */
    color: black; /* Change the text color to black */
   
  }

  .description2 {
    font-size: 12px; /* Change the font size to 16 pixels */
    color: black; /* Change the text color to black */
    text-align: center;
  }