body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    /* font size */
    font-size: 16px;
}

header {
    color: white;
    background-color: #3b3b3a;
    font-size: 25px;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 45px;
    font-weight: 600;
}


/* Style table header */

.table {
    width: 80%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

table thead {
    background-color: #333;
    color: #fff;
}


/* Style table cells */

table td,
table th {
    padding: 12px;
    border: 1px solid #ddd;
}


/* Style table rows */

table tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* Remove border from last column */

table td:last-child,
table th:last-child {
    border-right: none;
}


/* Set link color */

a {
    color: #333;
}


/* On hover, darken the link */

a:hover {
    color: #000;
}

.container {
    width: 100%;
    padding-top: 2.5%;
}


/* Path: public\css\orders.css */

.padder {
    /* only add padding when the height of the page is low */
    /* padding-bottom: 30%; */
}

.btn-primary {
    background-color: #3b3b3a;
    border-color: #3b3b3a;
    padding: 0.5em;
    font-size: 1em;
}