.page {
    display: flexbox;
    max-width: 75;
    margin-left: 15%;
    margin-right: 15%;
}
.heading{
    display:inline-block;
    min-height: max-content;
    padding-top: 5%;
    padding-bottom: 1%;
}
.heading h1{
    font-size: 6rem;
}
.heading h2{
    font-size: 3rem;
}
.btn {
    flex: content;
    display: inline-block;
    margin-top: 1rem;
    border-radius: 10rem;
    background: black;
    color: white;
    padding: 0.9rem 3.5rem;
    cursor: pointer;
    font-size: 20%;
}

.product {
    display: flex;
}

.display {
    flex: auto;
    min-width: 70%;
}
.info {
    flex: auto;
    align-self: center;
}
.BasketHandler {
    margin-left: 1%;
    margin-right: 1%;
    min-width: 30%;
    display: flexbox;
    flex-direction: column;
    flex: auto;
    display: flex;
    align-self: center;
}
.bottom {
    display: flex;
}