/*CSS FOR SIGN UP PAGE */


/* Set background color and font family */

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.Title {
    text-align: center;
    color: #0b0b0f;
    /* or any other color you want */
    font-weight: bold;
    font-size: 35px;
}


/* Set styles for the sign-up form container */

.signup {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #b7b4b4;
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
}


/* Set styles for form labels */

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}


/* Set styles for form input fields */

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    border-color: #4F4CEE;
}


/* Set styles for submit button */

button[type="submit"] {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    border-radius: 4px;
    width: 100%;
    border: none;
    color: #4F4CEE;
    /* White */
    background: #FFFFFF;
    /* Brand/Primary/Default */
    border: 1.5px solid #4F4CEE;
    /* Card/Hover */
    box-shadow: 6px 8px 0px #0022BA;
}


/* Set hover style for submit button */

.button[type="submit"]:hover {
    background-color: #b2c2b1;
}

.description {
    font-size: 16px;
    /* Change the font size to 16 pixels */
    color: black;
    /* Change the text color to black */
}

.description p {
    font-size: 12px;
    /* Change the font size to 16 pixels */
    color: black;
    /* Change the text color to black */
    text-align: center;
}

.description2 {
    font-size: 16px;
    /* Change the font size to 16 pixels */
    color: black;
    /* Change the text color to black */
}

.description2 {
    font-size: 12px;
    /* Change the font size to 16 pixels */
    color: black;
    /* Change the text color to black */
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
}