/* THiS CSS IS FOR THE NAVIGATION */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    max-width: 100%;
}


.body {
    align-items: center;
    text-align: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    background-color: #eeeeee;
    filter: brightness(100%);
    min-height: 100vh;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    height: 100%;
}


/* main container */

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #3b3b3a;
    font-family: 'Roboto', sans-serif;
}


/* left side of the container */

.left-header {
    display: flex;
    align-items: center;
    float: left;
    width: 75%;
}

.left-header h2 {
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
    margin-left: 1%;
}

.left-header a {
    font-size: 1.5rem;
    color: white;
    padding-left: 20px;
}

.left-header a:hover {
    color: #a26bc9;
}

.right-header {
    align-items: center;
    float: right;
    margin-top: 0.5%;
    /* width: 30%; */
}


/*#25459b*/

.right-header a {
    font-size: 1.5rem;
    color: white;
    padding-left: 20px;
}

.right-header a:hover {
    color: #a26bc9;
}

.footer-box {
    background-color: #3b3b3a;
    padding-bottom: 5rem;
    padding-top: 2rem;
    position: sticky;
    top: 100%;
}

.footer-area {
    width: 80%;
    height: 20vh;
    display: flex;
    color: white;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 4rem;

}

.footer-component {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
}

.footer-component h3 {
    margin-bottom: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.footer-component a {
    color: white;
    text-decoration: none;
    margin-bottom: 0.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.footer-component a:hover {
    color: #a26bc9;
}

.footer-component-newsletter h3 {
    margin-bottom: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.newsletter-form #footer-newsletter-email {
    width: 275px;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    font-size: 1rem;
    padding-left: 10px;
}

#footer-newsletter-email::placeholder {
    color: #a1a5ab;
}

.newsletter-form #footer-newsletter-btn {
    width: 100px;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    font-size: 1rem;
    background-color: #ada239;
    color: white;
}

#footer-newsletter-btn:hover {
    background-color: #25459b;
}