/* THiS CSS IS FOR THE NAVIGATION */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}


/* main container */

.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}


/* left side of the container */

.left-header {
    display: flex;
    align-items: center;
    float: left;
    width: 75%;
}

.left-header h2 {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #25459b;
    margin-left: 1%;
}

.left-header a {
    font-size: 1.5rem;
    color: #25459b;
    padding-left: 20px;
}

.left-header a:hover {
    color: #ff3399;
}

.right-header {
    align-items: center;
    float: right;
    margin-top: 0.5%;
    /* width: 30%; */
}

.right-header a {
    font-size: 1.5rem;
    color: #25459b;
    padding-left: 20px;
}

.right-header a:hover {
    color: #ff3399;
}

.right-header button {}