<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
    <title>Products</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand">EventTick Database Management</a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <style>
          body {
            font-family: Arial, sans-serif;
        }
        </style>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/products}">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/Orders}">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/Report}">Generate Reports</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
          </ul>
        </div>
      </nav>


      <div class = "container">
          <br>
          <br>

      <div class="card text-center">
        <div class="card-header">
          <h1>Admin Homepage</h1>
        </div>
        <div class="card-body">
          <p class="card-text">
            <h1>Welcome to our Admin homepage</h1>
            <p>Welcome to the admin side for our website EventTick</p>

          </p>
          
          <p class="card-text">
            <h1>Features</h1>
            <p>View all products: You can see all the products we sell on EventTick</p>
            <p>Add new products: You can add new products for EventTick</p>
            <p>Update stock: You can update stock of our products</p>
            <p>Delete products: You can delete products that you no longer wnat to sell</p>
            <p>View all orders: You can see all orders placed by our customers</p>
            <p>Update orders: You can change the status of all orders placed on our website</p>

          </p>


          <a href="/products" class="btn btn-primary">View all products</a>
        </div>
      </div>

      </div>
<br>
<br>

    




    </div>

</body>
</html>