<!DOCTYPE html>
<html>
<head>
    <title>Orders</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center mb-5">Orders</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>User ID</th>
            <th>Total Price</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Status</th>
            <th>View More</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.user_id}"></td>
            <td th:text="${order.total_price}"></td>
            <td th:text="${order.created_at}"></td>
            <td th:text="${order.updated_at}"></td>
            <td th:text="${order.status}"></td>
<!--            <td><a class="btn btn-success" href="#">View More</a></td>-->
            <td><a class="btn btn-success" th:href="@{/Orders/items/{id}(id=${order.id})}">View More</a></td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-success" th:href="@{/OrderedItems}">See all Orders.</a>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>