<component name="libraryTable">
  <library name="spring-boot-starter-security-3.0.4">
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/boot/spring-boot-starter-security/3.0.4/spring-boot-starter-security-3.0.4.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="jar://$MAVEN_REPOSITORY$/org/springframework/boot/spring-boot-starter-security/3.0.4/spring-boot-starter-security-3.0.4.jar!/" recursive="false" />
  </library>
</component>